log/*.log
tmp/**/*
test
coverage
config/database.yml
.DS_Store
.dropbox
doc
tmp/example*
app/views/results
db/*.sqlite3
public/stylesheets/*
app/stylesheets/.sass-cache/*
spec/fixtures/finance/2R\ printed/Clauses_Definition_example.xml
spec/fixtures/finance/2R\ printed/Clauses_List_example.xml
spec/fixtures/finance/2R\ printed/Clauses_Sbscript_example.xml
spec/fixtures/finance/2R\ printed/Clauses_Xref_example.xml
spec/fixtures/finance/2R\ printed/Clauses_Char_example.xml
spec/fixtures/finance/2R\ printed/Clauses_Subpara_example.xml
spec/fixtures/DigitalEconomy/clauses_act_name_on_two_lines.act.xml
spec/fixtures/DigitalEconomy/clauses_section_of_the_act_same_line.act.xml
