@import ../partials/base_interleaved_wide.sass
@import ../partials/_bill_docs_shared.sass
@import blueprint
@import _clauses.sass

+blueprint-typography
+blueprint-utilities

pre
  text-align: left

a
  text-decoration: none

#container
  text-align: center 
  +container
  width: 950px
  
  hr, .OrderCrossHeading, .OrderHousePara_PgfTag, table
    float: left
  
  .Italic
    font-style: italic

  .Bold
    font-weight: bold
    
  .PageStart
    font-weight: bold
    float: right
    text-align: right
    +span(30)
    border-top: thin dotted black
    clear: both
    padding: 1em 0 0
    margin: 1em 0 0

  .PageStart.first
    border: 0
    padding: 0
    margin: 0 

.ClauseTextWithExplanatoryNote
  float: left
  width: 950px

.explanatory_note
  float: left
  margin-left: 20px
  width: 300px
  
  .explanatory_note_text
    font-size: 95%
    float: right
    border: 1px dotted crimson
    background-color: lightyellow
    padding: 1em
    
    .en_header
      font-weight: bold
      display: block
      margin-bottom: 1em
   
  .NoteClauseTitle
    display: none

.PgfNumString
  float: left

  .PgfNumString_0
    +column(1, true)

  .PgfNumString_1
    +append(1)
    +column(1)

  .PgfNumString_2
    +append(1)
    +column(1, true)