@import ../partials/base_interleaved.sass
@import ../partials/_bill_docs_shared.sass
@import blueprint
@import ../partials/_screen.sass
@import _clauses.sass

.ClauseTextWithExplanatoryNote
  +column(50, true)


#container
  .Clauses
    .explanatory_note 
      +push(5)
      +column(14)
      .en_header
        font-weight: bold
        display: block
        margin-bottom: 1em
    
      .explanatory_note_text
        font-size: 95%
        float: right
        border: 1px dotted crimson
        background-color: lightyellow
        padding: 1em
        +column(13)
    
        p
          margin-bottom: 0.8em
          display: block
          float: left
          clear: both
    
        ul
          margin-top: 0.2em
          margin-bottom: 0.8em
          clear: both
          float: left
    
      .NoteClauseTitle
        display: none
        
      .NoteScheduleTitle
        display: none

.PgfNumString
  float: left

  .PgfNumString_0
    +column(1, true)

  .PgfNumString_1
    +append(1)
    +column(2)

  .PgfNumString_2
    +append(1)
    +column(1, true)