@import ../partials/base_interleaved_wide.sass
@import blueprint
@import ../partials/_screen.sass
@import ../partials/_bill_docs_shared.sass
@import _clauses.sass

.ClauseTextWithExplanatoryNote
  float: left
  width: 950px

#container
  .Clauses
    .explanatory_note
      float: left
      margin-left: 40px
      width: 300px
  
      .explanatory_note_text
        font-size: 95%
        float: right
        border: 1px dotted crimson
        background-color: lightyellow
        padding: 1em
        width: 285px
    
        .en_header
          font-weight: bold
          display: block
          margin-bottom: 1em
    
        p
          margin-bottom: 0.8em
          display: block
          float: left
          clear: both

        ul
          margin-top: 0.2em
          margin-bottom: 0.8em
          clear: both
          float: left
   
      .NoteClauseTitle
        display: none

.PgfNumString
  float: left

  .PgfNumString_0
    +column(1, true)

  .PgfNumString_1
    +append(1)
    +column(1)

  .PgfNumString_2
    +append(1)
    +column(1, true)