// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

!blueprint_grid_columns = 30
!blueprint_grid_margin = 5px
!blueprint_grid_width = 20px

!blueprint_font_family       ||= "Times, Verdana, Arial, Helvetica, sans-serif"
!blueprint_fixed_font_family ||= "'andale mono', 'lucida console', monospace"
!blueprint_font_size         ||= 16px

// Use this to calculate the width based on the total width.
// Or you can set !blueprint_grid_width to a fixed value and unset !blueprint_container_size -- it will be calculated for you.
//!blueprint_grid_width   = (!blueprint_container_size + !blueprint_grid_margin) / !blueprint_grid_columns - !blueprint_grid_margin

= indent
  text-indent: 20px

= amendments_heading
  padding: 2px 0 0 0
  font-size: 1.7em
  font-weight: bold
  column(30)
  text-align: center
  text-transform: uppercase

= given_subheading
  font-size: 1.4em
  font-weight: bold
  column(30)
  text-align: center

= date_heading
  padding: 2px 0 0 0
  font-size: 1.6em
  font-weight: bold
  column(30)
  text-align: center

= stage_title
  font-size: 1.6em
  padding: 0.4em 0 0 0
  margin-bottom: 1.7em
  font-weight: bold
  text-transform: uppercase
  border-bottom: 1px solid 
  text-align: center

= bill_title
  text-transform: uppercase
  font-size: 1.45em
  font-weight: bold
  border-bottom: 1px solid grey
  text-align: center

= clause_title
  font-style: italic
  text-indent: -8px
  +prepend(2)
  +column(28)

= heading_text
  font-style: italic
  text-transform: uppercase
  padding: 2em 0 0 0
  text-align: center

= considered_clauses
  font-size: 1em
  font-weight: bold
  padding-bottom: 1.8em
  border-bottom: 1px solid grey
  text-align: center
  +column(30)
  
