body
  font-size: 10pt
  
  #container
    .Clauses      
      .PgfNumString a
        text-decoration: none
        color: black
  
  table
    font-size: 10pt
  
  .PageStart
    display: none

  .BillTitle, .CommitteeShorttitle, .MarshalledOrderNote
    page-break-after: avoid
    
  div.PageStart, .Clauses, .MarshalledOrderNote
    page-break-before: avoid
    margin-bottom: 0