body
  font-size: 10pt
  
  #container
    .Clauses      
      .PgfNumString a
        text-decoration: none
        color: black
  
  table
    font-size: 10pt
  
  .PageStart, .Separator_thick, .Separator_thin
    display: none