@import partials/base.sass
@import partials/amendment_docs_shared.sass
@import blueprint

.Amendments_Commons
  +column(30)
  text-align: left
  margin: 0 0 2em 0
  
  .PgfNumString
    float: left
    text-align: right

    .PgfNumString_0
      +column(1, true)
      text-align: left

    .PgfNumString_1
      +append(1)
      +column(1)

    .PgfNumString_2
      +append(1)
      +column(1, true)

.Head
  +column(30, true)

  .HeadConsider 
    float: left
      
    .Date
      +date_heading
        
    .Stageheader
      +stage_title
      
    .CommitteeShorttitle
      +bill_title
            
    .ClausesToBeConsidered
      +considered_clauses
        
    .MarshalledOrderNote
      font-weight: bold
      +prepend(2)
      +column(28, true)
      text-align: left

      .Notehead
        text-transform: uppercase

      .NoteTxt
        +prepend(1)
        +column(27, true)

    .Resolution
      +column(30, true)
      padding: 1em 0 0 0

      .ResolutionHead
        +column(30, true)

      .ResolutionDate
        +column(30, true)
        font-style: italic

      .ResolutionText > p.ResolutionPara > span.ResolutionPara_text
        column(29, true)

      .ResolutionText
        +column(30, true)

        .ResolutionText_text
          +column(30, true)

        .PgfNumString
          +prepend(1)

      p.ResolutionPara_PgfTag
        float: left
        display: block

      span.ResolutionPara_PgfTag
        display: block
        column(26, true)

      .ResolutionSubPara
        display: block
        +column(22, true)

      .ResolutionPara
        +column(26, true)
      
      .Motion
        +column(30, true)

        .Proposer_name
          +column(30, true)

        .Text_motion
          +column(29, true)
          margin: 0.5em 0
          +prepend(1)

    .Motion
      +column(30, true)
      padding: 0.5em 0
      
      .Proposer_name
        +column(30, true)
      
      .Text_motion
        column(30, true)
        +indent
        float: left