@import partials/base_interleaved_wide.sass
@import blueprint
@import partials/_interleaved_clauses.sass

.explanatory_note   
  .NoteClauseTitle
    display: none

.PgfNumString
  float: left

  .PgfNumString_0
    +column(1, true)

  .PgfNumString_1
    +append(1)
    +column(1)

  .PgfNumString_2
    +append(1)
    +column(1, true)

.Clauses
  .Clause
    .ClauseTextWithExplanatoryNote
      .explanatory_note
        padding-left: 20px
        +column(26)