@import partials/base.sass
@import blueprint

body
  #container
    text-align: left

    .BillTitle
      font-size: 1.8em
      +column(30, true)
      text-align: center
      padding: 1.25em 0 2.5em 0
      border-bottom: 1px solid black

    .Cover
      +column(30, true)
      border-top: 2px solid black
      margin: 1px 0 2em 0


      .CoverHeading
        +column(30, true)
        text-align: center
        padding: 1.5em 0

      .CoverPara
        +column(30, true)

    .Footer
      +column(30, true)
      padding: 4em 0 0 0
      text-align: left

      .BillPrintNumber
        +column(10, true)

      .BillSessionNumber
        +prepend(10)
        +column(10, true)
        text-align: right