@import partials/base.sass
@import partials/_amendment_docs_shared.sass
@import blueprint

body
  font-family: Verdana, Arial, Helvetica, serif

#container
  text-align: left
  font-size: 0.8em
  padding: 2em 0

td
  width: 25%
  
td.regenerate
  width: 6em
  
td.name
  width: 50%

td.text
  width: 4em
  
caption
  font-size: 1.4em

thead, tfoot
  display: none