@import partials/base.sass
//@import partials/_amendment_docs_shared.sass
@import blueprint

body
  font-family: Verdana, Arial, Helvetica, serif

#container
  text-align: left
  font-size: 0.8em
  padding: 2em 0

td
  width: 25%
  border-bottom: thin solid #ccc

td.regenerate
  width: 6em

td.name
  width: 50%
  padding-left: 1.5em

td.text
  width: 4em

tr.mif-file-type
  td.file-type
    padding-top: 1.6em
    font-style: italic

caption
  font-weight: bold

