// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
+blueprint

// Page layout can be done using mixins applied to your semantic classes and IDs:
body
  +blueprint-typography
  +blueprint-utilities
  +blueprint-debug

  #container
    +container

    .Head
      +full_screen

    .HeadConsider .Date
      +date_heading

    .Stageheader
      +stage_title

    .CommitteeShorttitle
      +bill_title

    .ClausesToBeConsidered
      +considered_clauses

    .MarshalledOrderNote
      font-weight: bold
      +right_column

    .Committee
      +full_screen
      border-top: 1px solid grey

      .Clause-Committee, .Schedule-Committee
        +full_screen
        text-align: left
        border-bottom: 1px solid grey
        padding: 1em 0

      ul.Sponsors
        +full_screen
        list-style: none
        margin: 0
        padding: 0.5em 0

      .Number
        +indent

      .Amendment-Number
        float: right
        font-weight: bold

      .SubSection
        +right_column

  #header, #footer
    +column(!blueprint_grid_columns)
