@import blueprint/reset.sass
@import partials/base.sass
@import blueprint

+blueprint

body
  +blueprint-typography
  +blueprint-utilities
  
  pre
    text-align: left
  
  a
    text-decoration: none

  #container
    +container

    hr, .OrderCrossHeading, .OrderHousePara_PgfTag, table
      float: left
    
    .Italic
      font-style: italic

    .Bold
      font-weight: bold
        
    .PageStart
      font-weight: bold
      float: right
      text-align: right
  
  div.files
    margin: 0 0 0 37.5%
    
  div.text
    text-align: left
    
  span.NoteClauseTitle,
  span.NoteScheduleTitle
    font-weight: bold

  ul.files
    text-align: left
    float: left

  #header, #footer
    +column(!blueprint_grid_columns)

body.convert div#container, body.act div#container
  border: thin solid lightgray
  padding: 3%
  margin-top: 3%
  margin-bottom: 3%
  background: #FFFEFB