%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
  %body
    .Amendments.Commons
      .Head
        .HeadConsider
          .Date
            %span.Day
              Tuesday
            %span.Date.text
              2 June 2009
          %p.Stageheader
            Public Bill Committee
          %p.CommitteeShorttitle
            %span.STText
              Finance Bill
          %p.ClausesToBeConsidered
            (Except Clauses 7, 8, 9, 11, 14, 16, 20 and 92)
          %p.MarshalledOrderNote
            %span.Notehead
              Note
            %span.NoteTxt
              The Amendments have been arranged according to the Order of the Committee [19 May 2009].
      .Committee
        .Clause.Committee
          %ul.Sponsors
            %li.Sponsor
              Mr Jeremy Browne
          %span.Amendment.Number
            4
          %span.Number
            Clause 17,
          %span.Page
            page 11,
          %span.Line
            line 4,
          %span.Amendment.Text
            leave out from ‘substitute’ to end of line 29 and insert— ‘(1)
          %p.SubSection
            Aircraft flight duty is chargeable in respect of each freight and passenger aircraft on each flight undertaken by that aircraft from a destination within the UK.’.
          </span>
        .Clause.Committee
          %ul.Sponsors
            %li.Sponsor
              Mr Greg Hands
            %li.Sponsor
              Mr Mark Hoban
            %li.Sponsor
              Mr David Gauke
          %span.Amendment.Number
            40
          \#
          %span.Number
            Clause 17,
          %span.Page
            page 11,
          %span.Line
            line 33,
          %span.Amendment.Text
            at end insert— ‘(3A)
          %p.SubSection
            The Treasury shall, no later than the date of the Pre-Budget Report 2009, bring forward plans to replace Air Passenger Duty with a per-plane tax on aircraft currently subject to Air Passenger Duty.’.
          </span>
        .Clause.Committee
          %ul.Sponsors
            %li.Sponsor
              Mr Jeremy Browne
          %span.Amendment.Number
            3
          %span.Page
            Page 11,
          %span.Line
            line 1,
          %span.Amendment.Text
            leave out Clause 17.
        /
          page break
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          31
        %span.Number
          Schedule 6,
        %span.Page
          page 90,
        %span.Line
          line 44,
        %span.Amendment.Text
          leave out ‘£50,000’ and insert ‘£100,000’.
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          32
        %span.Number
          Schedule 6,
        %span.Page
          page 90,
        %span.Line
          line 46,
        %span.Amendment.Text
          leave out ‘£50,000’ and insert ‘£100,000’.
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          37
        %span.Number
          Schedule 6,
        %span.Page
          page 91,
        %span.Line
          line 27,
        %span.Amendment.Text
          leave out ‘24 November’ and insert ‘31 December’.
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          33
        %span.Number
          Schedule 6,
        %span.Page
          page 91,
        %span.Line
          line 31,
        %span.Amendment.Text
          leave out ‘£50,000’ and insert ‘£100,000’.
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          28
        %span.Number
          Schedule 6,
        %span.Page
          page 91,
        %span.Line
          line 32,
        %span.Amendment.Text
          leave out ‘24 November 2009’ and insert ‘31 December 2010’.
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          34
        %span.Number
          Schedule 6,
        %span.Page
          page 91,
        %span.Line
          line 33,
        %span.Amendment.Text
          leave out ‘£50,000’ and insert ‘£100,000’.
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          29
        %span.Number
          Schedule 6,
        %span.Page
          page 91,
        %span.Line
          line 34,
        %span.Amendment.Text
          leave out ‘24 November’ and insert ‘31 December’.
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          30
        %span.Number
          Schedule 6,
        %span.Page
          page 91,
        %span.Line
          line 37,
        %span.Amendment.Text
          at end insert— ‘(3A)
        %p.SubSection
          The limits referred to in subsubparagraphs 3(a) and (b) shall not apply to the accounting period immediately preceding the relevant accounting period in which the trading loss arose.’.
        </span>
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          36
        %span.Number
          Schedule 6,
        %span.Page
          page 91,
        %span.Line
          line 38,
        %span.Amendment.Text
          leave out subsections (4) and (5).
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          35
        %span.Number
          Schedule 6,
        %span.Page
          page 91,
        %span.Line
          line 41,
        %span.Amendment.Text
          leave out ‘£50,000’ and insert ‘£100,000’.
        </p>
        /
          page break
        .Clause.Committee
          %ul.Sponsors
            %li.Sponsor
              Mr Mark Hoban
            %li.Sponsor
              Mr David Gauke
            %li.Sponsor
              Mr Greg Hands
          %span.Amendment.Number
            38
          %span.Number
            Clause 25,
          %span.Page
            page 15,
          %span.Amendment.Text
            leave out lines 37 to 38 and insert ‘the Treasury may by regulations make provision for and in connection with the application of all relevant enactments as follows. (1A)
          %p.SubSection
            The Treasury may make regulations to— (a)
          %p.Para
            give effect to the agreement referred to in subsection (1), and
          (b)
          %p.Para
            give effect to subsection (3).
          </p>
          (1B)
          %p.SubSection
            Regulations under this section may include provision having effect in relation to any time before they are made even if the provision creates or increases the liability to tax of P or such other person as is referred to in subsection (3).
          (1C)
          %p.SubSection
            Regulations under this section may include— (a)
          %p.Para
            provision amending any relevant enactment, and
          (b)
          %p.Para
            consequential, supplementary and transitional provisions.
          </p>
          (1D)
          %p.SubSection
            Regulations under this section are to be made by statutory instrument subject to annulment in pursuance of a resolution of the House of Commons.’.
          </span>
        .Clause.Committee
          %ul.Sponsors
            %li.Sponsor
              Mr Mark Hoban
            %li.Sponsor
              Mr David Gauke
            %li.Sponsor
              Mr Greg Hands
          %span.Amendment.Number
            39
          %span.Number
            Clause 25,
          %span.Page
            page 16,
          %span.Amendment.Text
            leave out lines 14 to 16.
        /
          page break
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Stephen Timms
        %span.Amendment.Number
          8
        %span.Number
          Schedule 7,
        %span.Page
          page 96,
        %span.Line
          line 29,
        %span.Amendment.Text
          after ‘acquisition’, insert ‘by the company of a major interest in the land’.
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Stephen Timms
        %span.Amendment.Number
          9
        %span.Number
          Schedule 7,
        %span.Page
          page 98,
        %span.Line
          line 28,
        %span.Amendment.Text
          leave out ‘ “sub-contractor payment” substitute “connected sub-contractor payment’ and insert ‘ “sub-contracted land remediation” substitute “connected sub-contracted land remediation” ’.
        </p>
        /
          page break
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Stephen Timms
        %span.Amendment.Number
          13
        %span.Number
          Schedule 8,
        %span.Page
          page 101,
        %span.Line
          line 4,
        %span.Amendment.Text
          leave out from beginning to ‘is’ in line 5 and insert— ‘A1
        %p.Para.sch
          Schedule 5B to TCGA 1992 (enterprise investment scheme: re-investment) is amended as follows.
        A2 (1)
        %p.Para.sch
        %p.SubPara.sch
          Paragraph 1(2) (application of Schedule) is amended as follows.
        (2)
        %p.SubPara.sch
          For paragraphs (g) and (h) substitute “and (g)
        %p.SubSubPara.sch
          all of the money raised by the issue of the shares (other than any of them which are bonus shares) is, no later than the time mentioned in section 175(3) of ITA 2007, employed wholly for the purpose of that activity,”.
        </p>
        (3)
        %p.SubPara.sch
          In the words following the paragraphs, for “conditions in paragraphs (g) and (h) above do” substitute “condition in paragraph (g) above does”.
        </p>
        A3 (1)
        %p.Para.sch
        %p.SubPara.sch
          Paragraph 1A (failure of conditions of application) is amended as follows.
        (2)
        %p.SubPara.sch
          In sub-paragraph (4)— (a)
        %p.SubSubPara.sch
          omit “or (h)”, and
        (b)
        %p.SubSubPara.sch
          for “sub-paragraph (4A) below” substitute “section 175(3) of ITA 2007”.
        </p>
        (3)
        %p.SubPara.sch
          Omit sub-paragraph (4A).
        </p>
        1 (1)
        %p.Para.sch
        %p.SubPara.sch
          Paragraph 9 (other reconstructions and amalgamations)’.
        </p>
        </span>
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          27
        %span.Number
          Schedule 8,
        %span.Page
          page 101,
        %span.Line
          line 12,
        %span.Amendment.Text
          at end insert—  ‘(1B)
        %p.SubPara.sch
          The individual may elect for section 135 or section 136 not to apply in respect of the shares.’.
        </span>
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Stephen Timms
        %span.Amendment.Number
          14
        %span.Number
          Schedule 8,
        %span.Page
          page 101,
        %span.Line
          line 18,
        %span.Amendment.Text
          at end insert— ‘1A
        %p.Para.sch
          In paragraph 16 (information), omit sub-paragraph (4A).’.
        </span>
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Stephen Timms
        %span.Amendment.Number
          15
        %span.Number
          Schedule 8,
        %span.Page
          page 102,
        %span.Line
          line 19,
        %span.Amendment.Text
          at end insert—
        .CrossHeadingSch
          %p.CrossHeadingTitle
            ‘Consequential repeals
          5A
          %p.Para.sch
            In consequence of the amendments made by paragraphs A2, A3 and 1A, omit— (a)
          %p.SubSubPara.sch
            in FA 2001, in Schedule 15, paragraphs 26 to 28,
          (b)
          %p.SubSubPara.sch
            in FA 2004, in Schedule 18, paragraph 13(1)(f), and
          (c)
          %p.SubSubPara.sch
            in ITA 2007, in Schedule 1, paragraph 345(2)(b), (3)(a) and (13)(b).’.
          </p>
        </span>
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Stephen Timms
        %span.Amendment.Number
          16
        %span.Number
          Schedule 8,
        %span.Page
          page 102,
        %span.Line
          line 20,
        %span.Amendment.Text
          at end insert— ‘5B The amendments made by paragraphs A2, A3, 1A, 3, 4 and 5A have effect in relation to shares issued on or after 22 April 2009.’.
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Stephen Timms
        %span.Amendment.Number
          17
        %span.Number
          Schedule 8,
        %span.Page
          page 102,
        %span.Line
          line 32,
        %span.Amendment.Text
          leave out paragraph 8.
        </p>
        /
          page break
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          23
        %span.Number
          Schedule 9,
        %span.Page
          page 103,
        %span.Line
          line 2,
        %span.Amendment.Text
          at end insert— ‘A1 (1)
        %p.Para.sch
        %p.SubPara.sch
          Section 832(1) of ICTA is amended as follows.
        (2)
        %p.SubPara.sch
          For the definition of “ordinary share capital”, substitute—
        %p.Definition
          “ordinary share capital”, in relation to a company, means all the issued share capital (by whatever name called) of the company, other than relevant preference shares (within the meaning of Schedule 18).’.
        </p>
        </p>
        </span>
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Stephen Timms
        %span.Amendment.Number
          10
        %span.Number
          Schedule 9,
        %span.Page
          page 103,
        %span.Line
          line 28,
        %span.Amendment.Text
          leave out ‘in any circumstances’ and insert ‘by virtue of any term subject to which the shares are issued or held’.
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Stephen Timms
        %span.Amendment.Number
          11
        %span.Number
          Schedule 9,
        %span.Page
          page 103,
        %span.Line
          line 39,
        %span.Amendment.Text
          leave out ‘in any circumstances’ and insert ‘by virtue of any term subject to which the shares are issued or held’.
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Stephen Timms
        %span.Amendment.Number
          12
        %span.Number
          Schedule 9,
        %span.Page
          page 104,
        %span.Line
          line 14,
        %span.Amendment.Text
          leave out sub-paragraph (i).
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          22
        %span.Number
          Schedule 9,
        %span.Page
          page 104,
        %span.Line
          line 21,
        %span.Amendment.Text
          at end insert—  ‘(6A)
        %p.SubPara.sch
          An order under sub-paragraph (5) must specify that no company may be regarded as being or having been in severe financial difficulties in any accounting period during which it agrees or agreed to contribute to, or increases or increased the value of, the pension arrangements of any director or former director a sum in excess of £1 million.’.
        </span>
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          21
        %span.Number
          Schedule 9,
        %span.Page
          page 104,
        %span.Line
          line 33,
        %span.Amendment.Text
          at end insert— ‘1B
        %p.Para.sch
          Notwithstanding anything else in this Schedule, in determining whether two or more companies are members of the same group no account shall be taken of any interest held by UK Financial Investments Limited.”’.
        </span>
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          24
        %span.Number
          Schedule 9,
        %span.Page
          page 104,
        %span.Line
          line 39,
        %span.Amendment.Text
          after ‘by’, insert ‘paragraphs 1 to 4 of’.
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          25
        %span.Number
          Schedule 9,
        %span.Page
          page 104,
        %span.Line
          line 43,
        %span.Amendment.Text
          at end insert—  ‘(6A)
        %p.SubPara.sch
          If a company so elects, the amendments made by paragraph (A1) of this Schedule, do not have effect in relation to shares issued by the company— (a)
        %p.SubSubPara.sch
          before the date on which this Act is passed;
        (b)
        %p.SubSubPara.sch
          on or after that date under an agreement entered into before that date.’.
        </p>
        </span>
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          26
        %span.Number
          Schedule 9,
        %span.Page
          page 104,
        %span.Line
          line 44,
        %span.Amendment.Text
          after ‘6’, insert ‘or 6A’.
        </p>
        /
          page break
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          19
        %span.Number
          Schedule 11,
        %span.Page
          page 108,
        %span.Line
          line 30,
        %span.Amendment.Text
          at end insert— ‘2A
        %p.Para.sch
          In section 45D(4) for “110” insert “160”’.
        </span>
        </p>
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Mark Hoban
          %li.Sponsor
            Mr David Gauke
          %li.Sponsor
            Mr Greg Hands
        %span.Amendment.Number
          20
        %span.Number
          Schedule 11,
        %span.Page
          page 109,
        %span.Line
          line 32,
        %span.Amendment.Text
          at end insert—  ‘(5A)
        %p.SubPara.sch
          An order under subsection (5) may not be made until 2 years after this Act has passed and any subsequent change will be subject to a 2 year notice period.’.
        </span>
        </p>
        /
          page break
        %p.Schedule.Committee
        %ul.Sponsors
          %li.Sponsor
            Mr Stephen Timms
        %span.Amendment.Number
          18
        %span.Number
          Schedule 12,
        %span.Page
          page 128,
        %span.Line
          line 5,
        %span.Amendment.Text
          at end insert— ‘(1A)
        %p.SubSection
          In determining for the purposes of subsection (1)(c) whether subsection (1) of section 171 would have applied, it is to be assumed that subsection (1A)(b) of that section read— “(b)
        .Amendment
          %p.Para
            that, at the time of the disposal, company B is resident in the United Kingdom, or carrying on a trade in the United Kingdom through a permanent establishment there.” ’.
        </p>
        </span>
        </p>
        /
          page break
        %p.Heading.text
          New Clauses
        .NewClause.Committee
          %p.ClauseTitle
            Taxation: general anti-avoidance principle
          %ul.Sponsors
            %li.Sponsor
              Mr Michael Meacher
          %span.Amendment.Number
            NC1
          %p.Move
            To move the following Clause:—
          ‘(1)
          %p.ClauseText
          %p.SubSection
            If, when determining the liability of a person to taxation, duty or similar charge due under statute in the United Kingdom, it shall be estimated that a step or steps have been included in a transaction giving rise to that liability or to any claim for an allowance, deduction or relief, with such steps having been included for the sole or one of the main purposes of securing a reduction in that liability to taxation, deduction or similar charge with no other material economic purpose for the inclusion of such a step being capable of demonstration by the taxpayer, then, subject to the sole exception that the step or steps in question are specifically permitted under the terms of any legislation promoted for the specific purpose of permitting such use, such step or steps shall be ignored when calculating the resulting liability to taxation, duty or similar charge.
          (2)
          %p.SubSection
            In the interpretation of this provision a construction that would promote the purpose or object underlying the provision shall be preferred to a construction that would not promote that purpose or object.’.
          </p>
        .NewClause.Committee
          %p.ClauseTitle
            Personal allowances for 2009-10 for those aged over 65
          %ul.Sponsors
            %li.Sponsor
              Mr David Gauke
            %li.Sponsor
              Mr Mark Hoban
            %li.Sponsor
              Mr Greg Hands
          %span.Amendment.Number
            NC2
          %p.Move
            To move the following Clause:—
          ‘(1)
          %p.ClauseText
          %p.SubSection
            For the tax year 2009-10 the amount specified in— (a)
          %p.Para
            section 36 of ITA 2007, and
          (b)
          %p.Para
            section 257(2) of ICTA,
          %p.TextContinuation
            (personal allowance for those aged 65 to 74) is replaced with “£11,490”.
          </p>
          (2)
          %p.SubSection
            For the tax year 2009-10 the amount specified in— (a)
          %p.Para
            section 37 of ITA 2007, and
          (b)
          %p.Para
            section 257(3) of ICTA,
          %p.TextContinuation
            (personal allowance for those aged 75 and over) is replaced with “£11,640”’.
          </p>
          </p>
        .NewClause.Committee
          %p.ClauseTitle
            Thresholds for residential property
          %ul.Sponsors
            %li.Sponsor
              Mr David Gauke
            %li.Sponsor
              Mr Mark Hoban
            %li.Sponsor
              Mr Greg Hands
          %span.Amendment.Number
            NC3
          %p.Move
            To move the following Clause:—
          ‘(1)
          %p.ClauseText
          %p.SubSection
            A land transaction is exempt from the charge to stamp duty land tax if— (a)
          %p.Para
            it is a relevant acquisition of land which consists entirely of residential property,
          (b)
          %p.Para
            the relevant chargeable consideration for the transaction is not more than £250,000, and
          (c)
          %p.Para
            the purchaser is a first time purchaser.
          </p>
          (2)
          %p.SubSection
            In paragraph (1)(a) a “relevant acquisition of land” means an acquisition of a major interest in land other than— (a)
          %p.Para
            the grant of a lease for a term of less than 21 years, or
          (b)
          %p.Para
            the assignment of a lease which has less than 21 years to run.
          </p>
          (3)
          %p.SubSection
            In paragraph (1)(b) the “relevant chargeable consideration for the transaction” means— (a)
          %p.Para
            the chargeable consideration for the transaction, or
          (b)
          %p.Para
            where the transaction is one of a number of linked transactions, the total of the chargeable consideration for all those transactions.
          </p>
          (4)
          %p.SubSection
            The Treasury shall by regulation define the meaning of “first time purchaser.”’.
          </p>
      .Order.House
        %p.OrderDate
          Order of the House [6 MAY 2009]
        %p.OrderPreamble
          That the following provisions shall apply to the Finance Bill:
          %br
        1.
        %p.OrderText
        %p.OrderPara
          Clauses 7, 8, 9, 11, 14, 16, 20 and 92 be committed to a Committee of the whole House;
        2.
        %p.OrderPara
          the remainder of the Bill be committed to a Public Bill Committee; and
        3.
        %p.OrderPara
          when the provisions of the Bill considered by the Committee of the whole House and the Public Bill Committee have been reported to the House, the Bill be proceeded with as if it had been reported as a whole to the House from the Public Bill Committee.
        </p>
      %p.Order.Motion
      %p.OrderHeading
        Resolution of the Committee [19 May 2009]
      %p.OrderAmendmentText
        That the Committee shall meet—
        %br
        on Tuesdays at 10.30 a.m. and 4.30 p.m., and
        %br
        on Thursdays (other than Thursday 4 June) at 9.00 a.m. and 1.00 p.m.,
        %br
        when the House is sitting.
      </p>
      .Order.Committee
        %p.OrderDate
          Order of the Committee [19 May 2009]
        %p.ResolutionPreamble
          That the order in which proceedings are taken shall be: Clauses 1 to 5; Schedule 1; Clause 6; Schedules 2 and 3; Clauses 10, 12, and 13; Schedule 4; Clauses 15 and 17; Schedule 5; Clauses 18, 19 and 21 to 23; Schedule 6; Clauses 24 to 26; Schedule 7; Clause 27; Schedule 8; Clause 28; Schedule 9; Clause 29; Schedule 10; Clause 30; Schedule 11; Clause 31; Schedule 12; Clause 32; Schedule 13; Clauses 33 and 34; Schedule 14; Clause 35; Schedule 15; Clause 36; Schedule 16; Clause 37; Schedule 17; Clause 38; Schedule 18; Clauses 39 and 40; Schedule 19; Clause 41; Schedule 20; Clauses 42 and 43; Schedule 21; Clause 44; Schedule 22; Clauses 45 and 46; Schedule 23; Clauses 47 and 48; Schedule 24; Clause 49; Schedule 25; Clause 50; Schedule 26; Clause 51; Schedule 27; Clauses 52 and 53; Schedule 28; Clauses 54 to 58; Schedule 29; Clauses 59 to 61; Schedule 30; Clause 62; Schedule 31; Clause 63; Schedule 32; Clause 64; Schedule 33; Clause 65; Schedule 34; Clauses 66 to 71; Schedule 35; Clauses 72 to 75; Schedule 36; Clauses 76 to 82; Schedule 37; Clause 83; Schedule 38; Clause 84; Schedule 39; Clause 85; Schedule 40; Clause 86; Schedule 41; Clause 87; Schedule 42; Clause 88; Schedule 43; Clause 89; Schedule 44; Clause 90; Schedule 45; Clause 91; Schedule 46; Clauses 93 and 94; Schedule 47; Clause 95; Schedule 48; Clause 96; Schedule 49; Clause 97; Schedule 50; Clause 98; Schedule 51; Clause 99; Schedule 52; Clause 100; Schedule 53; Clause 101; Schedule 54; Clauses 102 to 105; Schedule 55; Clause106; Schedule 56; Clauses 107 and 108; Schedule 57; Clause 109; Schedule 58; Clauses 110 to 117; Schedule 59; Clause 118; Schedule 60; Clauses 119 to 122; Schedule 61; Clauses 123 and 124; new Clauses; new Schedules; Clauses 125 and 126
