- @title = "MIF files"

- if @files.length > 0
  %h1 MIF files
  %div.files
    %ul.files
      - @files.each do |file|
        %li.file 
          =link_to File.basename(file, ".mif"), "convert?file=#{file}"
          =number_to_human_size(File.size(file))
- else
  %p No MIF files available to parse
