%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
  %body
    #1054859.Amendments.Commons
      #1054862.Head
        #1054865.HeadConsider
          #1054868.Date
            %span#1054871.Day
              Tuesday
            #1054878.Date.text
              2 June 2009
          %span#5162740.Stageheader
            Public Bill Committee
          #1045605.CommitteeShorttitle
            %span#1053799.STText
              Finance Bill
          %span#1151029.ClausesToBeConsidered
            (Except Clauses 7, 8, 9, 11, 14, 16, 20 and 92)
          %span#7313383.MarshalledOrderNote
            %span#7313387.Notehead
              Note
            %span#7313431.NoteTxt
              The Amendments have been arranged according to the Order of the Committee [19 May 2009].
      #5166572.Committee
        #2494674.Clause.Committee
          %ul#2494677.Sponsors
            %li#2494680.Sponsor
              Mr Jeremy Browne
          #2494686.Amendment.Number
            %p#7332505.AmendmentNumber_PgfTag
              4
          %span#2494691.Number
            Clause 17,
          %span#2494701.Page
            page 11,
          %span#2494711.Line
            line 4,
          #2494721.Amendment.Text
            leave out from ‘substitute’ to end of line 29 and insert—
            %p#7332538.SubSection_PgfTag
              %span.PgfNumString
                \\t‘(1)\t
              %span#7316809.SubSection
                Aircraft flight duty is chargeable in respect of each freight and passenger aircraft on each flight undertaken by that aircraft from a destination within the UK.’.
        #7380678.Clause.Committee
          %ul#7380681.Sponsors
            %li#7380684.Sponsor
              Mr Greg Hands
            %li#7380689.Sponsor
              Mr Mark Hoban
            %li#7380694.Sponsor
              Mr David Gauke
          #7380700.Amendment.Number
            %p#7380702.AmendmentNumber_PgfTag
              40
          %p#7380736.AmedTextCommitReport_PgfTag
            %span.PgfNumString
              \#\t
            %span#7380705.Number
              Clause 17,
            %span#7380715.Page
              page 11,
            %span#7380725.Line
              line 33,
          #7380735.Amendment.Text
            at end insert—
            %p#7380739.SubSection_PgfTag
              %span.PgfNumString
                \\t‘(3A)\t
              %span#1490382.SubSection
                The Treasury shall, no later than the date of the Pre-Budget Report 2009, bring forward plans to replace Air Passenger Duty with a per-plane tax on aircraft currently subject to Air Passenger Duty.’.
        #2494452.Clause.Committee
          %ul#2494455.Sponsors
            %li#2494458.Sponsor
              Mr Jeremy Browne
          #2494464.Amendment.Number
            %p#7380755.AmendmentNumber_PgfTag
              3
          %span#2494479.Page
            Page 11,
          %span#2494489.Line
            line 1,
          #2494669.Amendment.Text
            leave out Clause 17.
        #1487324.Schedule.Committee
          %ul#1487327.Sponsors
            %li#1487330.Sponsor
              Mr Mark Hoban
            %li#1487335.Sponsor
              Mr David Gauke
            %li#1487340.Sponsor
              Mr Greg Hands
          #1487346.Amendment.Number
            %p#7380803.AmendmentNumber_PgfTag
              31
          %span#1487351.Number
            Schedule 6,
          %span#1487361.Page
            page 90,
          %span#1487371.Line
            line 44,
          #1487381.Amendment.Text
            leave out ‘£50,000’ and insert ‘£100,000’.
        #1487486.Schedule.Committee
          %ul#1487489.Sponsors
            %li#1487492.Sponsor
              Mr Mark Hoban
            %li#1487497.Sponsor
              Mr David Gauke
            %li#1487502.Sponsor
              Mr Greg Hands
          #1487508.Amendment.Number
            %p#7380856.AmendmentNumber_PgfTag
              32
          %span#1487513.Number
            Schedule 6,
          %span#1487523.Page
            page 90,
          %span#1487533.Line
            line 46,
          #1487543.Amendment.Text
            leave out ‘£50,000’ and insert ‘£100,000’.
        #1488575.Schedule.Committee
          %ul#1488578.Sponsors
            %li#1488581.Sponsor
              Mr Mark Hoban
            %li#1488586.Sponsor
              Mr David Gauke
            %li#1488591.Sponsor
              Mr Greg Hands
          #1488597.Amendment.Number
            %p#7380909.AmendmentNumber_PgfTag
              37
          %span#1488602.Number
            Schedule 6,
          %span#1488612.Page
            page 91,
          %span#1488622.Line
            line 27,
          #1488632.Amendment.Text
            leave out ‘24 November’ and insert ‘31 December’.
        #1487680.Schedule.Committee
          %ul#1487683.Sponsors
            %li#1487686.Sponsor
              Mr Mark Hoban
            %li#1487691.Sponsor
              Mr David Gauke
            %li#1487696.Sponsor
              Mr Greg Hands
          #1487702.Amendment.Number
            %p#7380962.AmendmentNumber_PgfTag
              33
          %span#1487707.Number
            Schedule 6,
          %span#1487717.Page
            page 91,
          %span#1487727.Line
            line 31,
          #1487737.Amendment.Text
            leave out ‘£50,000’ and insert ‘£100,000’.
        #1486794.Schedule.Committee
          %ul#1486802.Sponsors
            %li#1486806.Sponsor
              Mr Mark Hoban
            %li#1486811.Sponsor
              Mr David Gauke
            %li#1486820.Sponsor
              Mr Greg Hands
          #1486834.Amendment.Number
            %p#7381015.AmendmentNumber_PgfTag
              28
          %span#1486850.Number
            Schedule 6,
          %span#1486867.Page
            page 91,
          %span#1486877.Line
            line 32,
          #1486887.Amendment.Text
            leave out ‘24 November 2009’ and insert ‘31 December 2010’.
        #1487888.Schedule.Committee
          %ul#1487891.Sponsors
            %li#1487894.Sponsor
              Mr Mark Hoban
            %li#1487899.Sponsor
              Mr David Gauke
            %li#1487904.Sponsor
              Mr Greg Hands
          #1487910.Amendment.Number
            %p#7381068.AmendmentNumber_PgfTag
              34
          %span#1487915.Number
            Schedule 6,
          %span#1487925.Page
            page 91,
          %span#1487935.Line
            line 33,
          #1487945.Amendment.Text
            leave out ‘£50,000’ and insert ‘£100,000’.
        #1486891.Schedule.Committee
          %ul#1486894.Sponsors
            %li#1486897.Sponsor
              Mr Mark Hoban
            %li#1486902.Sponsor
              Mr David Gauke
            %li#1486907.Sponsor
              Mr Greg Hands
          #1486913.Amendment.Number
            %p#7381121.AmendmentNumber_PgfTag
              29
          %span#1486918.Number
            Schedule 6,
          %span#1486928.Page
            page 91,
          %span#1486938.Line
            line 34,
          #1486948.Amendment.Text
            leave out ‘24 November’ and insert ‘31 December’.
        #1487015.Schedule.Committee
          %ul#1487018.Sponsors
            %li#1487021.Sponsor
              Mr Mark Hoban
            %li#1487026.Sponsor
              Mr David Gauke
            %li#1487031.Sponsor
              Mr Greg Hands
          #1487037.Amendment.Number
            %p#7381174.AmendmentNumber_PgfTag
              30
          %span#1487042.Number
            Schedule 6,
          %span#1487052.Page
            page 91,
          %span#1487062.Line
            line 37,
          #1487072.Amendment.Text
            at end insert—
            %p#7381207.SubSection_PgfTag
              %span.PgfNumString
                \\t‘(3A)\t
              %span#1487238.SubSection
                The limits referred to in subsubparagraphs 3(a) and (b) shall not apply to the accounting period immediately preceding the relevant accounting period in which the trading loss arose.’.
        #1488329.Schedule.Committee
          %ul#1488332.Sponsors
            %li#1488335.Sponsor
              Mr Mark Hoban
            %li#1488340.Sponsor
              Mr David Gauke
            %li#1488345.Sponsor
              Mr Greg Hands
          #1488351.Amendment.Number
            %p#7381231.AmendmentNumber_PgfTag
              36
          %span#1488356.Number
            Schedule 6,
          %span#1488366.Page
            page 91,
          %span#1488376.Line
            line 38,
          #1488386.Amendment.Text
            leave out subsections (4) and (5).
        #1488101.Schedule.Committee
          %ul#1488104.Sponsors
            %li#1488107.Sponsor
              Mr Mark Hoban
            %li#1488112.Sponsor
              Mr David Gauke
            %li#1488117.Sponsor
              Mr Greg Hands
          #1488123.Amendment.Number
            %p#7381284.AmendmentNumber_PgfTag
              35
          %span#1488128.Number
            Schedule 6,
          %span#1488138.Page
            page 91,
          %span#1488148.Line
            line 41,
          #1488158.Amendment.Text
            leave out ‘£50,000’ and insert ‘£100,000’.
        #1488833.Clause.Committee
          %ul#1488836.Sponsors
            %li#1488839.Sponsor
              Mr Mark Hoban
            %li#1488844.Sponsor
              Mr David Gauke
            %li#1488849.Sponsor
              Mr Greg Hands
          #1488855.Amendment.Number
            %p#7381341.AmendmentNumber_PgfTag
              38
          %span#1488860.Number
            Clause 25,
          %span#1488870.Page
            page 15,
          #1488890.Amendment.Text
            leave out lines 37 to 38 and insert ‘the Treasury may by regulations make provision for and in connection with the application of all relevant enactments as follows.
            %p#7381365.SubSection_PgfTag
              %span.PgfNumString
                \\t(1A)\t
            %span#1489118.SubSection
              The Treasury may make regulations to—
            %p#7381369.Paragraph_PgfTag
              %span.PgfNumString
                \\t(a)\t
              %span#1489338.Para
                give effect to the agreement referred to in subsection (1), and
            %p#7381374.Paragraph_PgfTag
              %span.PgfNumString
                \\t(b)\t
              %span#1489345.Para
                give effect to subsection (3).
            </span>
            %p#7381377.SubSection_PgfTag
              %span.PgfNumString
                \\t(1B)\t
              %span#1489357.SubSection
                Regulations under this section may include provision having effect in relation to any time before they are made even if the provision creates or increases the liability to tax of P or such other person as is referred to in subsection (3).
            %p#7381381.SubSection_PgfTag
              %span.PgfNumString
                \\t(1C)\t
            %span#1489587.SubSection
              Regulations under this section may include—
            %p#7381385.Paragraph_PgfTag
              %span.PgfNumString
                \\t(a)\t
              %span#1489842.Para
                provision amending any relevant enactment, and
            %p#7381390.Paragraph_PgfTag
              %span.PgfNumString
                \\t(b)\t
              %span#1489853.Para
                consequential, supplementary and transitional provisions.
            </span>
            %p#7381393.SubSection_PgfTag
              %span.PgfNumString
                \\t(1D)\t
              %span#1489874.SubSection
                Regulations under this section are to be made by statutory instrument subject to annulment in pursuance of a resolution of the House of Commons.’.
        #1490136.Clause.Committee
          %ul#1490139.Sponsors
            %li#1490142.Sponsor
              Mr Mark Hoban
            %li#1490147.Sponsor
              Mr David Gauke
            %li#1490152.Sponsor
              Mr Greg Hands
          #1490158.Amendment.Number
            %p#7381417.AmendmentNumber_PgfTag
              39
          %span#1490163.Number
            Clause 25,
          %span#1490173.Page
            page 16,
          #1490183.Amendment.Text
            leave out lines 14 to 16.
        #1081826.Schedule.Committee
          %ul#1081834.Sponsors
            %li#1081838.Sponsor
              Mr Stephen Timms
          #1081853.Amendment.Number
            %p#7381457.AmendmentNumber_PgfTag
              8
          %span#1082088.Number
            Schedule 7,
          %span#1082060.Page
            page 96,
          %span#1082074.Line
            line 29,
          #1082084.Amendment.Text
            after ‘acquisition’, insert ‘by the company of a major interest in the land’.
        #1082681.Schedule.Committee
          %ul#1082684.Sponsors
            %li#1082687.Sponsor
              Mr Stephen Timms
          #1082693.Amendment.Number
            %p#7381502.AmendmentNumber_PgfTag
              9
          %span#1082698.Number
            Schedule 7,
          %span#1082708.Page
            page 98,
          %span#1082718.Line
            line 28,
          #1082728.Amendment.Text
            leave out ‘ “sub-contractor payment” substitute “connected sub-contractor payment’ and insert ‘ “sub-contracted land remediation” substitute “connected sub-contracted land remediation” ’.
        #1046294.Schedule.Committee
          %ul#1046301.Sponsors
            %li#1046305.Sponsor
              Mr Stephen Timms
          #1046321.Amendment.Number
            %p#7381551.AmendmentNumber_PgfTag
              13
          %span#1046333.Number
            Schedule 8,
          %span#1046348.Page
            page 101,
          %span#1046358.Line
            line 4,
          #1047173.Amendment.Text
            leave out from beginning to ‘is’ in line 5 and insert—
            %span#1083782.Para.sch
            %p#7381584.Paragraph.sch_PgfTag
              %span.PgfNumString
                \\t‘A1\t
              Schedule 5B to TCGA 1992 (enterprise investment scheme: re-investment) is amended as follows.
            </span>
            %span#1085999.Para.sch
            %p#7381591.SubParagraph.sch_PgfTag
              %span.PgfNumString
                \\tA2\t(1)\t
              %span#1090948.SubPara.sch
                Paragraph 1(2) (application of Schedule) is amended as follows.
            %p#7381594.SubParagraphCont.sch_PgfTag
              %span.PgfNumString
                \\t\t(2)\t
            %span#1090960.SubPara.sch
              For paragraphs (g) and (h) substitute “and
            %p#7381597.SubSubParagraph.sch_PgfTag
              %span.PgfNumString
                \\t(g)\t
              %span#1086218.SubSubPara.sch
                all of the money raised by the issue of the shares (other than any of them which are bonus shares) is, no later than the time mentioned in section 175(3) of ITA 2007, employed wholly for the purpose of that activity,”.
            </span>
            %p#7381602.SubParagraphCont.sch_PgfTag
              %span.PgfNumString
                \\t\t(3)\t
              %span#1090976.SubPara.sch
                In the words following the paragraphs, for “conditions in paragraphs (g) and (h) above do” substitute “condition in paragraph (g) above does”.
            </span>
            %span#1091529.Para.sch
            %p#7381610.SubParagraph.sch_PgfTag
              %span.PgfNumString
                \\tA3\t(1)\t
              %span#1091840.SubPara.sch
                Paragraph 1A (failure of conditions of application) is amended as follows.
            %p#7381613.SubParagraphCont.sch_PgfTag
              %span.PgfNumString
                \\t\t(2)\t
            %span#1091851.SubPara.sch
              In sub-paragraph (4)—
            %p#7381617.SubSubParagraph.sch_PgfTag
              %span.PgfNumString
                \\t(a)\t
              %span#1093092.SubSubPara.sch
                omit “or (h)”, and
            %p#7381620.SubSubParagraph.sch_PgfTag
              %span.PgfNumString
                \\t(b)\t
              %span#1093102.SubSubPara.sch
                for “sub-paragraph (4A) below” substitute “section 175(3) of ITA 2007”.
            </span>
            %p#7381627.SubParagraphCont.sch_PgfTag
              %span.PgfNumString
                \\t\t(3)\t
              %span#1092790.SubPara.sch
                Omit sub-paragraph (4A).
            </span>
            %span#1084089.Para.sch
            %p#7381636.SubParagraph.sch_PgfTag
              %span.PgfNumString
                \\t1\t(1)\t
              %span#1085994.SubPara.sch
                Paragraph 9 (other reconstructions and amalgamations)’.
            </span>
        #1489738.Schedule.Committee
          %ul#1489741.Sponsors
            %li#1489744.Sponsor
              Mr Mark Hoban
            %li#1489749.Sponsor
              Mr David Gauke
            %li#1489754.Sponsor
              Mr Greg Hands
          #1489760.Amendment.Number
            %p#7381657.AmendmentNumber_PgfTag
              27
          %span#1489765.Number
            Schedule 8,
          %span#1489775.Page
            page 101,
          %span#1489785.Line
            line 12,
          #1489795.Amendment.Text
            at end insert—
            %p#7381690.SubParagraphCont.sch_PgfTag
              %span.PgfNumString
                \\t\t‘(1B)\t
              %span#1490021.SubPara.sch
                The individual may elect for section 135 or section 136 not to apply in respect of the shares.’.
        #1093705.Schedule.Committee
          %ul#1093708.Sponsors
            %li#1093711.Sponsor
              Mr Stephen Timms
          #1093717.Amendment.Number
            %p#7381706.AmendmentNumber_PgfTag
              14
          %span#1093722.Number
            Schedule 8,
          %span#1093732.Page
            page 101,
          %span#1093742.Line
            line 18,
          #1093752.Amendment.Text
            at end insert—
            %span#1097273.Para.sch
            %p#7381742.Paragraph.sch_PgfTag
              %span.PgfNumString
                \\t‘1A\t
              In paragraph 16 (information), omit sub-paragraph (4A).’.
            </span>
        #1089037.Schedule.Committee
          %ul#1089040.Sponsors
            %li#1089043.Sponsor
              Mr Stephen Timms
          #1089049.Amendment.Number
            %p#7381755.AmendmentNumber_PgfTag
              15
          %span#1089054.Number
            Schedule 8,
          %span#1089064.Page
            page 102,
          %span#1089074.Line
            line 19,
          #1089084.Amendment.Text
            at end insert—
            #1089925.CrossHeadingSch
              #1089930.CrossHeadingTitle
                ‘Consequential repeals
              %span#1090180.Para.sch
              %p#7381794.Paragraph.sch_PgfTag
                %span.PgfNumString
                  \\t5A\t
                In consequence of the amendments made by paragraphs A2, A3 and 1A, omit—
              %p#7381798.SubSubParagraph.sch_PgfTag
                %span.PgfNumString
                  \\t(a)\t
                %span#1090929.SubSubPara.sch
                  in FA 2001, in Schedule 15, paragraphs 26 to 28,
              %p#7381802.SubSubParagraph.sch_PgfTag
                %span.PgfNumString
                  \\t(b)\t
                %span#1097888.SubSubPara.sch
                  in FA 2004, in Schedule 18, paragraph 13(1)(f), and
              %p#7381810.SubSubParagraph.sch_PgfTag
                %span.PgfNumString
                  \\t(c)\t
                %span#1090936.SubSubPara.sch
                  in ITA 2007, in Schedule 1, paragraph 345(2)(b), (3)(a) and (13)(b).’.
              </span>
        #1089347.Schedule.Committee
          %ul#1089350.Sponsors
            %li#1089353.Sponsor
              Mr Stephen Timms
          #1089359.Amendment.Number
            %p#7381823.AmendmentNumber_PgfTag
              16
          %span#1089364.Number
            Schedule 8,
          %span#1089374.Page
            page 102,
          %span#1089384.Line
            line 20,
          #1089394.Amendment.Text
            at end insert—
            %p#7381854.Paragraph.sch_PgfTag
              %span.PgfNumString
                \\t‘5B\t
              The amendments made by paragraphs A2, A3, 1A, 3, 4 and 5A have effect in relation to shares issued on or after 22 April 2009.’.
        #1103009.Schedule.Committee
          %ul#1103012.Sponsors
            %li#1103015.Sponsor
              Mr Stephen Timms
          #1103021.Amendment.Number
            %p#7381869.AmendmentNumber_PgfTag
              17
          %span#1103026.Number
            Schedule 8,
          %span#1103036.Page
            page 102,
          %span#1103046.Line
            line 32,
          #1103056.Amendment.Text
            leave out paragraph 8.
        #1488220.Schedule.Committee
          %ul#1488223.Sponsors
            %li#1488226.Sponsor
              Mr Mark Hoban
            %li#1488231.Sponsor
              Mr David Gauke
            %li#1488236.Sponsor
              Mr Greg Hands
          #1488242.Amendment.Number
            %p#7381926.AmendmentNumber_PgfTag
              23
          %span#1488247.Number
            Schedule 9,
          %span#1488257.Page
            page 103,
          %span#1488267.Line
            line 2,
          #1488433.Amendment.Text
            at end insert—
            %span#7363555.Para.sch
            %p#7381962.SubParagraph.sch_PgfTag
              %span.PgfNumString
                \\t‘A1\t(1)\t
              %span#1488437.SubPara.sch
                Section 832(1) of ICTA is amended as follows.
            %p#7381965.SubParagraphCont.sch_PgfTag
              %span.PgfNumString
                \\t\t(2)\t
            %span#7377998.SubPara.sch
              For the definition of “ordinary share capital”, substitute—
              %span#1488716.Definition
                “ordinary share capital”, in relation to a company, means all the issued share capital (by whatever name called) of the company, other than relevant preference shares (within the meaning of Schedule 18).’.
            </span>
        #444485.Schedule.Committee
          %ul#444488.Sponsors
            %li#1066698.Sponsor
              Mr Stephen Timms
          #444501.Amendment.Number
            %p#7381987.AmendmentNumber_PgfTag
              10
          %span#444506.Number
            Schedule 9,
          %span#444516.Page
            page 103,
          %span#444526.Line
            line 28,
          #444536.Amendment.Text
            leave out ‘in any circumstances’ and insert ‘by virtue of any term subject to which the shares are issued or held’.
        #1080185.Schedule.Committee
          %ul#1080189.Sponsors
            %li#1080192.Sponsor
              Mr Stephen Timms
          #1080198.Amendment.Number
            %p#7382033.AmendmentNumber_PgfTag
              11
          %span#1080203.Number
            Schedule 9,
          %span#1080213.Page
            page 103,
          %span#1080223.Line
            line 39,
          #1080233.Amendment.Text
            leave out ‘in any circumstances’ and insert ‘by virtue of any term subject to which the shares are issued or held’.
        #1080245.Schedule.Committee
          %ul#1080249.Sponsors
            %li#1080252.Sponsor
              Mr Stephen Timms
          #1080258.Amendment.Number
            %p#7382079.AmendmentNumber_PgfTag
              12
          %span#1080263.Number
            Schedule 9,
          %span#1080273.Page
            page 104,
          %span#1080283.Line
            line 14,
          #1080293.Amendment.Text
            leave out sub-paragraph (i).
        #1487551.Schedule.Committee
          %ul#1487554.Sponsors
            %li#1487557.Sponsor
              Mr Mark Hoban
            %li#1487562.Sponsor
              Mr David Gauke
            %li#1487567.Sponsor
              Mr Greg Hands
          #1487573.Amendment.Number
            %p#7382132.AmendmentNumber_PgfTag
              22
          %span#1487578.Number
            Schedule 9,
          %span#1487588.Page
            page 104,
          %span#1487598.Line
            line 21,
          #1487608.Amendment.Text
            at end insert—
            %p#7382165.SubParagraphCont.sch_PgfTag
              %span.PgfNumString
                \\t\t‘(6A)\t
              %span#1488083.SubPara.sch
                An order under sub-paragraph (5) must specify that no company may be regarded as being or having been in severe financial difficulties in any accounting period during which it agrees or agreed to contribute to, or increases or increased the value of, the pension arrangements of any director or former director a sum in excess of £1 million.’.
        #1487202.Schedule.Committee
          %ul#1487205.Sponsors
            %li#1487208.Sponsor
              Mr Mark Hoban
            %li#1487213.Sponsor
              Mr David Gauke
            %li#1487218.Sponsor
              Mr Greg Hands
          #1487224.Amendment.Number
            %p#7382189.AmendmentNumber_PgfTag
              21
          %span#1487229.Number
            Schedule 9,
          %span#1487239.Page
            page 104,
          %span#1487249.Line
            line 33,
          #1487259.Amendment.Text
            at end insert—
            %span#1487453.Para.sch
            %p#7382222.Paragraph.sch_PgfTag
              %span.PgfNumString
                \\t‘1B\t
              Notwithstanding anything else in this Schedule, in determining whether two or more companies are members of the same group no account shall be taken of any interest held by UK Financial Investments Limited.”’.
            </span>
        #1488737.Schedule.Committee
          %ul#1488740.Sponsors
            %li#1488743.Sponsor
              Mr Mark Hoban
            %li#1488748.Sponsor
              Mr David Gauke
            %li#1488753.Sponsor
              Mr Greg Hands
          #1488759.Amendment.Number
            %p#7382246.AmendmentNumber_PgfTag
              24
          %span#1488764.Number
            Schedule 9,
          %span#1488774.Page
            page 104,
          %span#1488784.Line
            line 39,
          #1488995.Amendment.Text
            after ‘by’, insert ‘paragraphs 1 to 4 of’.
        #1488999.Schedule.Committee
          %ul#1489002.Sponsors
            %li#1489005.Sponsor
              Mr Mark Hoban
            %li#1489010.Sponsor
              Mr David Gauke
            %li#1489015.Sponsor
              Mr Greg Hands
          #1489021.Amendment.Number
            %p#7382299.AmendmentNumber_PgfTag
              25
          %span#1489026.Number
            Schedule 9,
          %span#1489036.Page
            page 104,
          %span#1489046.Line
            line 43,
          #1489056.Amendment.Text
            at end insert—
            %span#1489236.SubPara.sch
            %p#7382332.SubParagraphCont.sch_PgfTag
              %span.PgfNumString
                \\t\t‘(6A)\t
              If a company so elects, the amendments made by paragraph (A1) of this Schedule, do not have effect in relation to shares issued by the company—
            %p#7382336.SubSubParagraph.sch_PgfTag
              %span.PgfNumString
                \\t(a)\t
              %span#1489418.SubSubPara.sch
                before the date on which this Act is passed;
            %p#7382343.SubSubParagraph.sch_PgfTag
              %span.PgfNumString
                \\t(b)\t
              %span#1489425.SubSubPara.sch
                on or after that date under an agreement entered into before that date.’.
            </span>
        #1489437.Schedule.Committee
          %ul#1489440.Sponsors
            %li#1489443.Sponsor
              Mr Mark Hoban
            %li#1489448.Sponsor
              Mr David Gauke
            %li#1489453.Sponsor
              Mr Greg Hands
          #1489459.Amendment.Number
            %p#7382364.AmendmentNumber_PgfTag
              26
          %span#1489464.Number
            Schedule 9,
          %span#1489474.Page
            page 104,
          %span#1489484.Line
            line 44,
          #1489734.Amendment.Text
            after ‘6’, insert ‘or 6A’.
        #7344177.Schedule.Committee
          %ul#1486845.Sponsors
            %li#1486849.Sponsor
              Mr Mark Hoban
            %li#1486954.Sponsor
              Mr David Gauke
            %li#1486960.Sponsor
              Mr Greg Hands
          #1486856.Amendment.Number
            %p#7382421.AmendmentNumber_PgfTag
              19
          %span#1486866.Number
            Schedule 11,
          %span#1486880.Page
            page 108,
          %span#1486890.Line
            line 30,
          #1486900.Amendment.Text
            at end insert—
            %span#1486904.Para.sch
            %p#7382457.Paragraph.sch_PgfTag
              %span.PgfNumString
                \\t‘2A\t
              In section 45D(4) for “110” insert “160”’.
            </span>
        #1486971.Schedule.Committee
          %ul#1486974.Sponsors
            %li#1486977.Sponsor
              Mr Mark Hoban
            %li#1486982.Sponsor
              Mr David Gauke
            %li#1486987.Sponsor
              Mr Greg Hands
          #1486993.Amendment.Number
            %p#7382478.AmendmentNumber_PgfTag
              20
          %span#1486998.Number
            Schedule 11,
          %span#1487008.Page
            page 109,
          %span#7344274.Line
            line 32,
          #1487121.Amendment.Text
            at end insert—
            %p#7382511.SubParagraphCont.sch_PgfTag
              %span.PgfNumString
                \\t\t‘(5A)\t
              %span#1487125.SubPara.sch
                An order under subsection (5) may not be made until 2 years after this Act has passed and any subsequent change will be subject to a 2 year notice period.’.
        #7338025.Schedule.Committee
          %ul#7338028.Sponsors
            %li#7338031.Sponsor
              Mr Stephen Timms
          #7338037.Amendment.Number
            %p#7382531.AmendmentNumber_PgfTag
              18
          %span#7338042.Number
            Schedule 12,
          %span#7338052.Page
            page 128,
          %span#1069960.Line
            line 5,
          #7338071.Amendment.Text
            at end insert—
            %p#7382564.SubSection_PgfTag
              %span.PgfNumString
                \\t‘(1A)\t
            %span#1071759.SubSection
              In determining for the purposes of subsection (1)(c) whether subsection (1) of section 171 would have applied, it is to be assumed that subsection (1A)(b) of that section read—
            %p#7382569._Paragraph_PgfTag
              %span.PgfNumString
                \\t“(b)\t
            #1072557.Amendment
              %span#1072566.Para
                that, at the time of the disposal, company B is resident in the United Kingdom, or carrying on a trade in the United Kingdom through a permanent establishment there.” ’.
            </p>
            </span>
        #5166821.Heading.text
          New Clauses
        #1151073.NewClause.Committee
          %p#7382588.New_C_STitle_PgfTag
            %span.PgfNumString
              \\t
            %span#1151081.ClauseTitle
              Taxation: general anti-avoidance principle
          %ul#1151090.Sponsors
            %li#1151094.Sponsor
              Mr Michael Meacher
          #1151102.Amendment.Number
            %p#7382599.AmendmentNumber_PgfTag
              NC1
          %span#1151112.Move
            To move the following Clause:—
          %span#1151123.ClauseText
          %p#7382611.SubSection1_PgfTag
            %span.PgfNumString
              \\t‘(1)\t
            %span#1151133.SubSection
              If, when determining the liability of a person to taxation, duty or similar charge due under statute in the United Kingdom, it shall be estimated that a step or steps have been included in a transaction giving rise to that liability or to any claim for an allowance, deduction or relief, with such steps having been included for the sole or one of the main purposes of securing a reduction in that liability to taxation, deduction or similar charge with no other material economic purpose for the inclusion of such a step being capable of demonstration by the taxpayer, then, subject to the sole exception that the step or steps in question are specifically permitted under the terms of any legislation promoted for the specific purpose of permitting such use, such step or steps shall be ignored when calculating the resulting liability to taxation, duty or similar charge.
          %p#7382615.SubSection_PgfTag
            %span.PgfNumString
              \\t(2)\t
            %span#1151138.SubSection
              In the interpretation of this provision a construction that would promote the purpose or object underlying the provision shall be preferred to a construction that would not promote that purpose or object.’.
          </span>
        #5166869.NewClause.Committee
          %p#7382628.New_C_STitle_PgfTag
            %span.PgfNumString
              \\t
            %span#5166872.ClauseTitle
              Personal allowances for 2009-10 for those aged over 65
          %ul#5166877.Sponsors
            %li#5166880.Sponsor
              Mr David Gauke
            %li#1484612.Sponsor
              Mr Mark Hoban
            %li#1484621.Sponsor
              Mr Greg Hands
          #5166894.Amendment.Number
            %p#7382647.AmendmentNumber_PgfTag
              NC2
          %span#5166899.Move
            To move the following Clause:—
          %span#1484678.ClauseText
            %span#1484688.SubSection
          %p#7382659.SubSection1_PgfTag
            %span.PgfNumString
              \\t‘(1)\t
            For the tax year 2009-10 the amount specified in—
          %p#7382663.Paragraph_PgfTag
            %span.PgfNumString
              \\t(a)\t
            %span#1484695.Para
              section 36 of ITA 2007, and
          %p#7382667.Paragraph_PgfTag
            %span.PgfNumString
              \\t(b)\t
            %span#1484702.Para
              section 257(2) of ICTA,
          %p#7382672.SubSection1_PgfTag
            %span.PgfNumString
              \\t\t
            %span#1484714.TextContinuation
              (personal allowance for those aged 65 to 74) is replaced with “£11,490”.
          </span>
          %span#1484725.SubSection
          %p#7382675.SubSection_PgfTag
            %span.PgfNumString
              \\t(2)\t
            For the tax year 2009-10 the amount specified in—
          %p#7382679.Paragraph_PgfTag
            %span.PgfNumString
              \\t(a)\t
            %span#1484736.Para
              section 37 of ITA 2007, and
          %p#7382683.Paragraph_PgfTag
            %span.PgfNumString
              \\t(b)\t
            %span#1484743.Para
              section 257(3) of ICTA,
          %p#7382689.SubSection_PgfTag
            %span.PgfNumString
              \\t\t
            %span#1484755.TextContinuation
              (personal allowance for those aged 75 and over) is replaced with “£11,640”’.
          </span>
          </span>
        #1485418.NewClause.Committee
          %p#7382700.New_C_STitle_PgfTag
            %span.PgfNumString
              \\t
            %span#1485426.ClauseTitle
              Thresholds for residential property
          %ul#1485435.Sponsors
            %li#1485439.Sponsor
              Mr David Gauke
            %li#1485445.Sponsor
              Mr Mark Hoban
            %li#1485454.Sponsor
              Mr Greg Hands
          #1485468.Amendment.Number
            %p#7382719.AmendmentNumber_PgfTag
              NC3
          %span#1485484.Move
            To move the following Clause:—
          %span#1485495.ClauseText
            %span#1485514.SubSection
          %p#7382731.SubSection1_PgfTag
            %span.PgfNumString
              \\t‘(1)\t
            A land transaction is exempt from the charge to stamp duty land tax if—
          %p#7382734.Paragraph_PgfTag
            %span.PgfNumString
              \\t(a)\t
            %span#1485521.Para
              it is a relevant acquisition of land which consists entirely of residential property,
          %p#7382738.Paragraph_PgfTag
            %span.PgfNumString
              \\t(b)\t
            %span#1485528.Para
              the relevant chargeable consideration for the transaction is not more than £250,000, and
          %p#7382744.Paragraph_PgfTag
            %span.PgfNumString
              \\t(c)\t
            %span#1485538.Para
              the purchaser is a first time purchaser.
          </span>
          %span#1485552.SubSection
          %p#7382747.SubSection_PgfTag
            %span.PgfNumString
              \\t(2)\t
            In paragraph (1)(a) a “relevant acquisition of land” means an acquisition of a major interest in land other than—
          %p#7382751.Paragraph_PgfTag
            %span.PgfNumString
              \\t(a)\t
            %span#1485566.Para
              the grant of a lease for a term of less than 21 years, or
          %p#7382756.Paragraph_PgfTag
            %span.PgfNumString
              \\t(b)\t
            %span#1485573.Para
              the assignment of a lease which has less than 21 years to run.
          </span>
          %span#1485585.SubSection
          %p#7382759.SubSection_PgfTag
            %span.PgfNumString
              \\t(3)\t
            In paragraph (1)(b) the “relevant chargeable consideration for the transaction” means—
          %p#7382763.Paragraph_PgfTag
            %span.PgfNumString
              \\t(a)\t
            %span#1485602.Para
              the chargeable consideration for the transaction, or
          %p#7382766.Paragraph_PgfTag
            %span.PgfNumString
              \\t(b)\t
            %span#1485609.Para
              where the transaction is one of a number of linked transactions, the total of the chargeable consideration for all those transactions.
          </span>
          %p#7382774.SubSection_PgfTag
            %span.PgfNumString
              \\t(4)\t
            %span#1485621.SubSection
              The Treasury shall by regulation define the meaning of “first time purchaser.”’.
          </span>
      #7325194.Order.House
        %p#7382791.OrderHeading_PgfTag
          %span.PgfNumString
        #7325197.OrderDate
          Order of the House [6 MAY 2009]
        </p>
        %span#7325208.OrderPreamble
          That the following provisions shall apply to the Finance Bill:
        %span#7325213.OrderText
        %p#7382800.OrderHousePara_PgfTag
          %span.PgfNumString
            \\t1.\t
          %span#7325216.OrderPara
            Clauses 7, 8, 9, 11, 14, 16, 20 and 92 be committed to a Committee of the whole House;
        %p#7382805.OrderHousePara_PgfTag
          %span.PgfNumString
            \\t2.\t
          %span#7325221.OrderPara
            the remainder of the Bill be committed to a Public Bill Committee; and
        %p#7382808.OrderHousePara_PgfTag
          %span.PgfNumString
            \\t3.\t
          %span#7325226.OrderPara
            when the provisions of the Bill considered by the Committee of the whole House and the Public Bill Committee have been reported to the House, the Bill be proceeded with as if it had been reported as a whole to the House from the Public Bill Committee.
        </span>
      %span#1484767.Order.Motion
      %p#7382821.OrderHeading_PgfTag
        %span.PgfNumString
      #7329842.OrderHeading
        Resolution of the Committee [19 May 2009]
      </p>
      #7330294.OrderAmendmentText
        That the Committee shall meet—
        on Tuesdays at 10.30 a.m. and 4.30 p.m., and
        on Thursdays (other than Thursday 4 June) at 9.00 a.m. and 1.00 p.m.,
        when the House is sitting.
      </span>
      #7323403.Order.Committee
        %p#7382842.OrderHeading_PgfTag
          %span.PgfNumString
        #7323407.OrderDate
          Order of the Committee [19 May 2009]
        </p>
        %span#7336802.ResolutionPreamble
          That the order in which proceedings are taken shall be: Clauses 1 to 5; Schedule 1; Clause 6; Schedules 2 and 3; Clauses 10, 12, and 13; Schedule 4; Clauses 15 and 17; Schedule 5; Clauses 18, 19 and 21 to 23; Schedule 6; Clauses 24 to 26; Schedule 7; Clause 27; Schedule 8; Clause 28; Schedule 9; Clause 29; Schedule 10; Clause 30; Schedule 11; Clause 31; Schedule 12; Clause 32; Schedule 13; Clauses 33 and 34; Schedule 14; Clause 35; Schedule 15; Clause 36; Schedule 16; Clause 37; Schedule 17; Clause 38; Schedule 18; Clauses 39 and 40; Schedule 19; Clause 41; Schedule 20; Clauses 42 and 43; Schedule 21; Clause 44; Schedule 22; Clauses 45 and 46; Schedule 23; Clauses 47 and 48; Schedule 24; Clause 49; Schedule 25; Clause 50; Schedule 26; Clause 51; Schedule 27; Clauses 52 and 53; Schedule 28; Clauses 54 to 58; Schedule 29; Clauses 59 to 61; Schedule 30; Clause 62; Schedule 31; Clause 63; Schedule 32; Clause 64; Schedule 33; Clause 65; Schedule 34; Clauses 66 to 71; Schedule 35; Clauses 72 to 75; Schedule 36; Clauses 76 to 82; Schedule 37; Clause 83; Schedule 38; Clause 84; Schedule 39; Clause 85; Schedule 40; Clause 86; Schedule 41; Clause 87; Schedule 42; Clause 88; Schedule 43; Clause 89; Schedule 44; Clause 90; Schedule 45; Clause 91; Schedule 46; Clauses 93 and 94; Schedule 47; Clause 95; Schedule 48; Clause 96; Schedule 49; Clause 97; Schedule 50; Clause 98; Schedule 51; Clause 99; Schedule 52; Clause 100; Schedule 53; Clause 101; Schedule 54; Clauses 102 to 105; Schedule 55; Clause106; Schedule 56; Clauses 107 and 108; Schedule 57; Clause 109; Schedule 58; Clauses 110 to 117; Schedule 59; Clause 118; Schedule 60; Clauses 119 to 122; Schedule 61; Clauses 123 and 124; new Clauses; new Schedules; Clauses 125 and 126
