%table
  %thead
    - act = @acts.first
    %tr
      - act.attributes.to_a.sort_by{|x| x[0]}.each do |attribute|
        - unless attribute[0].to_s[/_at|id/]
          %th= h attribute[0].to_s
  %tbody
    - @acts.each do |act|
      %tr
        - act.attributes.to_a.sort_by{|x| x[0]}.each do |attribute|
          - unless attribute[0].to_s[/_at|id/]
            %td= h attribute[1].to_s
